body {
    background-color: #deff07;
}
h1, h2 {
    color: #0b5cb3;
}
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 123, 255, 0.5); 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); 
}

